<html>

	<head>
		<meta charset="UTF-8">
		<title>Captcha</title>

		<link rel="stylesheet" type="text/css" href="css/captCha.css" />
		<link rel="stylesheet" href="/semantic/semantic.min.css">		

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script type="text/javascript">var leschats =  <%-JSON.stringify(data)%>;</script>
		<script type="text/javascript" src="javascript/captCha.js"></script>
	</head>

	<body onload="getCaptcha();">
		<br> <br>
		<div class="form" id="captcha__form">
			<div class="left">
				<div id="bloc-captcha">
				</div>
				<p class="indice" id="indice">Retrouver le chat amoureux</p>
				<span class="time" id="time"></span>
				<br>
				<br>
				<button onclick="verif();">Valider</button>
				<button onClick="reload();">Changer</button>
			</div>
			<div class="right">
				<canvas id="canvas" class="timebar"></canvas>
			</div>
		</div>
	</body>

</html>
