<!DOCTYPE html>
<html>
	<head>
		<title>Captchat</title>

		<link rel="stylesheet" href="/semantic/semantic.min.css">		
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="javascript/captCha.js"></script>

	</head>

	<body>
        <br>
		<div class="ui main container">
			<% if (locals.flash && locals.flash.error) { %>
			<div class="ui negative message">
				<%= flash.error %>
			</div>
            <% } %>
            
			<% if (locals.flash && locals.flash.success) { %>
			<div class="ui positive message">
				<%= flash.success %>
			</div>
            <% } %>

		<h1 style="text-align: center !important;">CapChat</h1>
		<div id="content">