<%- include ("header") %>

<h2>Inscription</h2>

<form action="/register" method="post" class="ui form">
    <div class="field">
    <input type="text" name="login" placeholder="Identifiant">
    <input type="password" name="mdp" placeholder="Mots de passe">      
</div>
<button type="submit" class="ui blue labeled submit icon button">
    <i class="icon edit"></i> S'inscrire
</button>  
</form> 

<%- include ("footer") %>

