<%- include ("header") %>

<h2>Ajout d'un jeu de Capchat</h2>

<form action="/login/upload/uploadimg" method="post" encType="multipart/form-data" class="ui form">
    <div class="field">
		<label for="">Images neutres :</label>
		<input type="file" name="img1">
		<input type="file" name="img2">
		<input type="file" name="img3">
		<input type="file" name="img4">
		<input type="file" name="img5">
		<input type="file" name="img6">
		<input type="file" name="img7">
		<input type="file" name="img8">
		<input type="file" name="img9">
		<label for="imgSinguliere">Image Singuliere :</label>
		<input type="file" name="imgSinguliere">
	</div>
    <button type="submit" class="ui blue labeled submit icon button">
        <i class="icon edit"></i> Envoyer
    </button>
 </form>   
 <%- include ("footer") %>

