<%- include ("header") %>

<h2>Ajout d'un jeu de Capchat</h2>

<form action="/login/upload" method="post" class="ui form">
    <div class="field">
		<input type="text" name="name" placeholder="Nom du Capchat">
		<label for="theme">Thème :</label>
		<select name="theme" >
			<option></option>
			<% for (mod_upload of themes) { %>
				<option>
				<%= mod_upload.libelle %>
				</option>
			<% } %>
		</select>
		<input type="text" name="indice" placeholder="Indice">
	</div>
    <button type="submit" class="ui blue labeled submit icon button">
        <i class="icon edit"></i> Continuer
    </button>
 </form>   
 <%- include ("footer") %>

