body {
  text-align: center;
  background: #DCDCDC !important;
}

.form {
  display: inline-flex;
  background-color: white;
  padding: 15px;
  margin: auto;
  border:1px solid
}

.indice {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  display: none;
}

label {
  cursor: pointer;
  display: inline-block;
  border: 2px solid transparent;
  padding-bottom: 12px;
}

label img {
  max-width: 100px;
  max-height: 100px;
}

button {
  display: inline-block;
  margin: auto;
  margin-top: 10px;
}

input:checked + label {
  border-color: blue;
}

.left {
  float: left;
  padding: 10px;
  border-radius: 3px;
}

.right {
  float: right;
  margin-left: 15px;
  width: 30px;
  height: auto;
  border-radius: 3px;
  box-sizing: border-box;
}

.timebar {
  width: 100%;
  height:100%;
}

.time {
  margin-right: 5px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 22px;
  color: red;
}
